<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.silent.silentgoosebot.dao.TeacherDao">
    <resultMap id="teacherMap" type="com.silent.silentgoosebot.entity.Teacher" autoMapping="true"/>

    <select id="getEmptyLoginStatusTeacherId" resultMap="teacherMap">
        SELECT teacher_id
        FROM teacher
        WHERE last_login_status = '' OR last_login_status IS NULL
    </select>
</mapper>